.header {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.header-light {
  background-color: #ddd;
}

.header-dark {
  background-color: #222;
}

.header-info {
  padding: 0.5rem;
  width: 100%;
}
.header-info-light {
  background-color: #ddd;
  color: #000;
}
.header-info-dark {
  background-color: #222;
  color: #fff;
}
