.shapes-table {
  border-collapse: collapse;
  width: 100%;
}

.shapes-table th {
  padding: .8rem .3rem;
  text-align: left;
}

.shapes-table td {
  padding: 0 .3rem;
}

.shapes-table tr td:last-child,
.shapes-table tr th:last-child {
  text-align: right;
}

.shapes-table-light {
  background-color: #eee;
  color: #000;
}

.shapes-table-dark {
  background-color: #333;
  color: #fff;
}

.shapes-row-selected-light {
  background-color: #ccc;
}

.shapes-row-selected-dark {
  background-color: #666;
}

.shapes-row-even-light {
  background-color: #f7f7f7;
}

.shapes-row-even-dark {
  background-color: #444;
}

.shapes-row-odd-light {
  background-color: #f0f0f0;
}

.shapes-row-odd-dark {
  background-color: #555;
}

.shapesTableName {
  display: flex;
  align-items: center;
}

.shapesTableColor {
  border: 1px solid #000;
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: .5rem;
}
