.toolbar {
  align-items: center;
  display: flex;
  padding: .5rem;
}

.toolbar-light {
  background-color: #eee;;
}

.toolbar-dark {
  background-color: #333;
}

.toolbar-helper {
  padding: .5rem;
}

.toolbar-helper-light {
  background-color: #f7f7f7;;
  color: #000;
}

.toolbar-helper-dark {
  background-color: #222;
  color: #fff;
}

.toolbar-spacer {
  height: 20px;
  margin: 0 .5rem;
  width: 1px;
}

.toolbar-spacer-light {
  background-color: #ccc;
}

.toolbar-spacer-dark {
  background-color: #555;
}
